body {
    min-height: 100vh;
    background-color: #0f0828;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40vh;
    color: #e2dcf7;
    text-align: center;
    font-family: 'Syne Mono', monospace;
}

a{
    text-decoration: none;
    color: inherit;
}